body {
    background-color: rgb(227, 242, 255);
}

h1 {
    color: blue;
}
h1 {
    text-align: center; /* Centraliza o texto horizontalmente */
    margin: 0; /* Remove a margem padrão */
}


h2 {
    color: blueviolet ;
}
h2 {
    text-align: center; /* Centraliza o texto horizontalmente */
    margin: 0; /* Remove a margem padrão */
}


h3 {
    color: black ;
}
h3 {
    text-align: center; /* Centraliza o texto horizontalmente */
    margin: 0; /* Remove a margem padrão */
}


h4 {
    color: rgb(0, 221, 255) ;
}
h4 {
    text-align: center; /* Centraliza o texto horizontalmente */
    margin: 0; /* Remove a margem padrão */
}
.cartão {
    width: 100%; /* ou outra largura desejada */
    text-align: center; /* Centraliza o conteúdo dentro do cartão */
}

.cartão img {
    padding: 100px 0px 0px 0px; /* Ajuste o padding conforme necessário */
    width: 400px;
    height: auto; /* Mantém a proporção da imagem */
    margin: 0 auto; /* Centraliza a imagem */
}

.quadrado {
    background-color: red; /* Cor de fundo do quadrado */
    color: white; /* Cor do texto */
    width: 200px; /* Largura do quadrado */
    height: 100px; /* Altura do quadrado */
    display: flex; /* Para centralizar o texto */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    margin: 0 auto; /* Centraliza o quadrado na página */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    font-size: 20px; /* Tamanho da fonte */
    border-radius: 10px; /* Bordas arredondadas */
    margin-bottom: 20px; /* Espaço abaixo do quadrado */
}

.leia-me {
    background-color: blue; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    width: 100px; /* Largura do botão */
    height: 40px; /* Altura do botão */
    display: flex; /* Para centralizar o texto */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    margin: 20px auto; /* Centraliza o botão na página */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    border-radius: 5px; /* Bordas arredondadas */
}